app-template:
  controller:
    replicas: 1
    strategy: RollingUpdate
  image:
    repository: docker.io/mpepping/cyberchef
    tag: v10.17.0
  env:
    TZ: America/Chicago
  service:
    main:
      ports:
        http:
          port: 8000
  ingress:
    main:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: &host tools.rsr.net
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: cyberchef-tls
