app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/mpepping/cyberchef
            tag: v10.19.4
          env:
            TZ: America/Chicago
  service:
    main:
      controller: main
      ports:
        http:
          port: 8000

  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: cyberchef
        gethomepage.dev/name: Cyberchef
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - tools.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: cyberchef
              port: 8000

  ingress:
    main:
      enabled: true
      className: "nginx"
      annotations:
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: &host tools.rsr.net
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: cyberchef-tls
