app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/mpepping/cyberchef
            tag: v10.22.1
          env:
            TZ: America/Chicago
  service:
    main:
      controller: main
      ports:
        http:
          port: 8000

  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: cyberchef
        gethomepage.dev/name: Cyberchef
      labels:
        security: "authenticated"
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - tools.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: cyberchef
              port: 8000

