repo:
  url: https://github.com/rogerrum/k8s-gitops.git
  revision: main


applications:
  - name: alertmanager-discord
    namespace: monitoring
    path: main/monitoring/alertmanager-discord
    manifest-paths: /main/monitoring/alertmanager-discord
    sync-wave: "-1"
    helm:
      enabled: true

  - name: blackbox-exporter
    namespace: monitoring
    path: main/monitoring/blackbox-exporter
    manifest-paths: /main/monitoring/blackbox-exporter
    sync-wave: "-1"
    ignoreDifferences:
      - group: "*"
        kind: "ServiceMonitor"
        jqPathExpressions:
          - .spec.endpoints[].metricRelabelings
    helm:
      enabled: true
    syncOptions:
      - RespectIgnoreDifferences=true

  - name: grafana
    namespace: monitoring
    path: main/monitoring/grafana
    manifest-paths: /main/monitoring/grafana
    sync-wave: "-1"
    helm:
      enabled: true

  - name: influxdb
    namespace: monitoring
    path: main/monitoring/influxdb
    manifest-paths: /main/monitoring/influxdb
    sync-wave: "-1"
    helm:
      enabled: true

  - name: victoria-metrics
    namespace: monitoring
    path: main/monitoring/victoria-metrics
    manifest-paths: /main/monitoring/victoria-metrics
    sync-wave: "-1"
    helm:
      enabled: true
      secrets:
        enabled: true
        keys:
          - prom-config
      additionalValues:
        - http://localhost/victoria-metrics.yml
    syncOptions:
      - Replace=true

  - name: speedtest-exporter
    namespace: monitoring
    path: main/monitoring/speedtest-exporter
    manifest-paths: /main/monitoring/speedtest-exporter
    sync-wave: "-1"
    helm:
      enabled: true

  - name: unifi-poller
    namespace: monitoring
    path: main/monitoring/unifi-poller
    manifest-paths: /main/monitoring/unifi-poller
    sync-wave: "-1"
    helm:
      enabled: true

  - name: uptime-kuma
    namespace: monitoring
    path: main/monitoring/uptime-kuma
    manifest-paths: /main/monitoring/uptime-kuma
    sync-wave: "-1"
    helm:
      enabled: true

  - name: karma
    namespace: monitoring
    path: main/monitoring/karma
    manifest-paths: /main/monitoring/karma
    sync-wave: "-1"
    helm:
      enabled: true

  - name: pushgateway
    namespace: monitoring
    path: main/monitoring/pushgateway
    manifest-paths: /main/monitoring/pushgateway
    sync-wave: "-1"
    helm:
      enabled: true

  - name: trivy
    namespace: monitoring
    path: main/monitoring/trivy
    manifest-paths: /main/monitoring/trivy
    sync-wave: "-1"
    helm:
      enabled: true
