app-template:
  image:
    repository: ghcr.io/zwave-js/zwave-js-ui
    tag: 9.27.4
  env:
    TZ: "America/Chicago"
    
  securityContext:
    privileged: true

  service:
    main:
      ports:
        websockets:
          enabled: true
          port: 3000
        http:
          enabled: true
          port: &port 8091

  probes:
    liveness: &probes
      enabled: true
      custom: true
      spec:
        httpGet:
          path: /health
          port: *port
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 3
    readiness: *probes
    startup:
      enabled: false

  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: zwavejs2mqtt
        gethomepage.dev/name: Zwavejs2mqtt
        kubernetes.io/ingress.class: "nginx"
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
#        nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
#        nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: zwavejs2mqtt.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "zwavejs2mqtt.rsr.net"
          secretName: zwavejs2mqtt-cert
  persistence:
    config:
      enabled: true
      emptyDir:
        enabled: false
      mountPath: /usr/src/app/store
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      skipuninstall: true

    usb:
      enabled: true
      type: hostPath
      hostPath: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C130101F-if00-port0
      hostPathType: CharDevice
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - { key: "nortek.feature.node.kubernetes.io/zwave", operator: In, values: [ "true" ] }
  tolerations:
    - key: "arm64"
      operator: "Exists"
