app-template:
  controllers:
    zwave:
      containers:
        app:
          image:
            repository: ghcr.io/zwave-js/zwave-js-ui
            tag: 11.11.0@sha256:d14b02b56c99445d1fb8af2fb2a6c413a915fd5b3d93f4f7ef456a74bfd05b8a
          env:
            TZ: America/Chicago
            PORT: &port 8091
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 10m
              memory: 200Mi
            limits:
              memory: 512Mi

  defaultPodOptions:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: nortek.feature.node.kubernetes.io/zwave
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "arm64"
        operator: "Exists"
  service:
    app:
      controller: zwave
      ports:
        http:
          port: *port
        websocket:
          port: 3000


  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: zwavejs2mqtt
        gethomepage.dev/name: Zwavejs2mqtt
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - zwavejs2mqtt.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: zwavejs2mqtt
              port: 8091

  persistence:
    config:
      existingClaim: zwavejs2mqtt-config
      globalMounts:
        - path: /usr/src/app/store
    tmp:
      type: emptyDir

    usb:
      type: hostPath
      hostPath: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C130101F-if00-port0
      hostPathType: CharDevice


