app-template:
  controllers:
    zwave:
      containers:
        app:
          image:
            repository: ghcr.io/zwave-js/zwave-js-ui
            tag: 11.9.1@sha256:a7036e59a9d7916d1f92f2fa1e0b9f4a5ed317fc8bef38756368f7c865e0e95a
          env:
            TZ: America/Chicago
            PORT: &port 8091
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 10m
              memory: 200Mi
            limits:
              memory: 512Mi

  defaultPodOptions:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: nortek.feature.node.kubernetes.io/zwave
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "arm64"
        operator: "Exists"
  service:
    app:
      controller: zwave
      ports:
        http:
          port: *port
        websocket:
          port: 3000

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
#        nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
#        nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: zwavejs2mqtt.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "zwavejs2mqtt.rsr.net"
          secretName: zwavejs2mqtt-cert

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: zwavejs2mqtt
        gethomepage.dev/name: Zwavejs2mqtt
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - zwavejs2mqtt.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: zwavejs2mqtt
              port: 8091

  persistence:
    config:
      suffix: config
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      globalMounts:
        - path: /usr/src/app/store
    tmp:
      type: emptyDir

    usb:
      type: hostPath
      hostPath: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C130101F-if00-port0
      hostPathType: CharDevice


