uptime-kuma:
  image:
    repository: louislam/uptime-kuma
    tag: 1.15.1

  # See more environment variables in the statping documentation
  # https://github.com/statping/statping/wiki/Config-with-.env-File
  env:
    TZ: "America/Chicago"
    NODE_EXTRA_CA_CERTS: /rootCert/ca.crt

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: vault-issuer
        cert-manager.io/common-name: up.rsr.net
      hosts:
        - host: up.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - up.rsr.net
          secretName: up-cert-tls

  persistence:
    data:
      storageClass: "longhorn"
      accessMode: ReadWriteMany
      skipuninstall: true
      size: "2Gi"
      enabled: true
    rootCert:
      enabled: true
      type: secret
      name: up-cert-tls

