app-template:
  controllers:
    main:
      pod:
        enableServiceLinks: false
      containers:
        main:
          image:
            repository: louislam/uptime-kuma
            tag: 2.0.2
          env:
            TZ: "America/Chicago"
            #NODE_EXTRA_CA_CERTS: /rootcert/ca.crt
            UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN: "0"
            UPTIME_KUMA_PORT: &port 3001
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false


          resources:
            requests:
              cpu: 12m
              memory: 128M
            limits:
              memory: 512M

  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      annotations:
        gethomepage.dev/enabled: 'true'
        gethomepage.dev/group: Monitoring
        gethomepage.dev/icon: uptime-kuma
        gethomepage.dev/name: Uptime-kuma
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - up.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: uptime-kuma
              port: *port


  persistence:
    data:
      enabled: true
      suffix: data
      storageClass: "longhorn"
      size: 5Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /app/data
#    rootcert:
#      enabled: true
#      type: secret
#      name: *tls-cert


