app-template:
  controllers:
    nomie:
      containers:
        app:
          image:
            repository: ghcr.io/rogerrum/docker-nomie6-oss
            tag: 6.3.0
          env:
            TZ: "America/Chicago"

  service:
    app:
      controller: nomie
      ports:
        http:
          port: &port 80
          primary: true

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: nomie
        gethomepage.dev/name: Nomie
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - nomie.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: nomie
              port: *port

