app-template:
  image:
    repository: ghcr.io/blakeblackshear/frigate
    tag: 0.12.1


  ingress:
    main:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
        nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: "frigate.rsr.net"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - frigate.rsr.net
          secretName: frigate-cert

  securityContext:
    privileged: true

  persistence:
    data:
      enabled: true
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 10Gi
      mountPath: /data
    config-file:
      enabled: true
      type: configMap
      name: frigate-config
      mountPath: /config
      readOnly: true
    media:
      enabled: true
      existingClaim: nas-media-pvc
      mountPath: /media
      subPath: Videos
    usb:
      enabled: true
      type: hostPath
      hostPath: /dev/bus/usb
    cache:
      enabled: true
      type: emptyDir
      medium: Memory
      sizeLimit: 2Gi
      # mountPath: /dev/shm
      mountPath: /tmp/cache

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: google.feature.node.kubernetes.io/coral
                operator: In
                values:
                  - "true"
  resources:
    requests:
      memory: 1000Mi
      cpu: 750m
      gpu.intel.com/i915: 1
    limits:
      memory: 2000Mi
      gpu.intel.com/i915: 1

  env:
    TZ: "America/Chicago"
    LIBVA_DRIVER_NAME: "radeonsi"
#    LIBVA_DRIVER_NAME: "i965"
#  envFrom:
#    - secretRef:
#        name: frigate-secret

  service:
    main:
      ports:
        http:
          port: &port 5000
        rtsp:
          enabled: true
          port: 8554

  configMaps:
    config:
      enabled: true
      data:
        config.yml: |
          mqtt:
            host: emqx.default.svc
            topic_prefix: frigate
            user: mqtt
            password: '{FRIGATE_MQTT_PASSWORD}'
          
          database:
            path: /data/frigate.db
          
          detectors:
            coral:
              type: edgetpu
              device: usb
          
          ffmpeg:
            global_args:
              - -hide_banner
              - -loglevel
              - warning
            #hwaccel_args:
            #  - -hwaccel
            #  - vaapi
            #  - -hwaccel_device
            #  - /dev/dri/renderD128
            #  - -hwaccel_output_format
            #  - yuv420p
            #output_args:
            #  record: -f segment -segment_time 10 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c:v copy -c:a aac -ar 44100
            #  rtmp: -c:v copy -f flv -ar 44100 -c:a aac
            
          objects:
            track:
              - person
              - car
              - bird
            filters:
              person:
                min_area: 2500
                max_area: 100000
                threshold: 0.7
          
          detect:
            height: 480
            width: 704
            fps: 5
          
          record:
            enabled: true
            retain:
              days: 1
              mode: motion
            events:
              retain:
                default: 14
                mode: active_objects
          
          snapshots:
            enabled: true
            timestamp: false
            bounding_box: true
            crop: false
            retain:
              default: 7
          
          cameras:
            basement_room:
              ffmpeg:
                # hwaccel_args: -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -hwaccel_output_format yuv420p
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=1&subtype=1'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=1&subtype=0'
                    roles:
                      - rtmp
                      - record
          
                global_args:
                  - -hide_banner
                  - -loglevel
                  - debug
              objects:
                track:
                  - person
                filters:
                  person:
                    min_area: 1500
                    max_area: 100000
                    threshold: 0.78
                    min_score: 0.60
          
            basement_main:
              ffmpeg:
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=2&subtype=2'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=2&subtype=0'
                    roles:
                      - rtmp
                      - record
              
            deck:
              ffmpeg:
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=3&subtype=2'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=3&subtype=0'
                    roles:
                      - rtmp
                      - record
          
            porch:
              ffmpeg:
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=4&subtype=1'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=4&subtype=0'
                    roles:
                      - rtmp
                      - record
          
            driveway:
              motion:
                mask:
                  - 91,168,283,62,438,0,0,0,0,0,0,92,0,247
              objects:
                filters:
                  bird:
                    mask:
                  car:
                    mask:
                      - 91,168,283,62,438,0,0,0,0,0,0,92,0,247
                  person:
                    mask:
              ffmpeg:
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=5&subtype=2'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=5&subtype=0'
                    roles:
                      - rtmp
                      - record
          
            server:
              ffmpeg:
                inputs:
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=6&subtype=2'
                    roles:
                      - detect
                  - path: '{FRIGATE_LOREX_HOST}/cam/realmonitor?channel=6&subtype=0'
                    roles:
                      - rtmp
                      - record
              
            living_room:
              ffmpeg:
                inputs:
                  - path: 'rtsp://{FRIGATE_WYZE_AUTH}@192.168.1.233/live'
                    roles:
                      - detect
                  - path: 'rtsp://{FRIGATE_WYZE_AUTH}@192.168.1.233/live'
                    roles:
                      - rtmp
                      - record
              objects:
                # Optional: list of objects to track from labelmap.txt (default: shown below)
                track:
                  - car
