longhorn:
  persistence:
    defaultClassReplicaCount: 3
  defaultSettings:
    defaultReplicaCount: 3
    createDefaultDiskLabeledNodes: true
    backupTarget: s3://longhorn@us-east-1/
    backupTargetCredentialSecret: longhorn-backup-secret
    storageMinimalAvailablePercentage: "10"
    taintToleration: arm64=true:NoExecute
  ingress:
    enabled: true
    host: longhorn.rsr.net
    tlsSecret: longhorn-cert
    tls: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/issuer: step-issuer
      cert-manager.io/issuer-kind: StepClusterIssuer
      cert-manager.io/issuer-group: certmanager.step.sm
      cert-manager.io/revision-history-limit: "3"
      cert-manager.io/duration: "2160h"
      cert-manager.io/renew-before: "720h"
      nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
      nginx.ingress.kubernetes.io/auth-signin: "https://auth.rsr.net/oauth2/start"

  #Temp fix
  image:
    longhorn:
      instanceManager:
        repository: derekbit/longhorn-instance-manager
        tag: v1.7.0_issue9267

      manager:
        repository: derekbit/longhorn-manager
        tag: v1.7.0_issue9267
