longhorn:
  persistence:
    defaultClassReplicaCount: "3"
  defaultSettings:
    defaultReplicaCount: "3"
    createDefaultDiskLabeledNodes: true
    backupTarget: s3://longhorn@us-east-1/
    backupTargetCredentialSecret: longhorn-backup-secret
    storageMinimalAvailablePercentage: "10"
    taintToleration: arm64=true:NoExecute

  #Temp fix
#  image:
#    longhorn:
#      instanceManager:
#        repository: longhornio/longhorn-instance-manager
#        tag: v1.7.1-rc2
#
#      manager:
#        repository: longhornio/longhorn-manager
#        tag: v1.7.1-rc2

