app-template:

  serviceAccount:
    tailscale:
      staticToken: true

  controllers:
    main:
      serviceAccount:
        identifier: tailscale


      pod:
        enableServiceLinks: false
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000

      containers:
        main:
          image:
            repository: ghcr.io/tailscale/tailscale
            tag: v1.92.5
          env:
            TZ: "America/Chicago"
            TS_KUBE_SECRET: "tailscale-auth"
            SA_NAME: tailscale
            TS_USERSPACE: "true"
            TS_ROUTES: "192.168.1.0/24"
            TS_EXTRA_ARGS: "--advertise-exit-node"
          envFrom:
            - secretRef:
                name: tailscale-auth
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false


          resources:
            requests:
              cpu: 12m
              memory: 128M
            limits:
              memory: 512M

  service:
    main:
      enabled: false
      ports:
        http:
          port: &port 45387


  ingress:
    main:
      enabled: false
