homepage:
  image:
    repository: ghcr.io/gethomepage/homepage
    tag: v1.8.0

  resources:
    requests:
      cpu: 15m
      memory: 127M
    limits:
      memory: 308M

  podAnnotations:
    reloader.stakater.com/auto: "true"
    configmap.reloader.stakater.com/reload: "homepage-config"
    secret.reloader.stakater.com/reload: "gethomepage-secret"


  # The service account is necessary to allow discovery of other services
  serviceAccount:
    create: true
    name: gethomepage

  # This enables the service account to access the necessary resources
  enableRbac: true

  persistence:
    data:
      enabled: false

  config:
    bookmarks:
      - Developer:
          - Github:
              - abbr: GH
                href: https://github.com/
    services:
      - Infrastructure:
          - HomeDashboard:
              href: https://grafana.rsr.net/goto/ub9IH-GNR?orgId=1
              icon: https://raw.githubusercontent.com/rogerrum/icons/refs/heads/main/images/rsr-logo.png
    widgets:
      # show the kubernetes widget, with the cluster summary and individual nodes
      - kubernetes:
          cluster:
            show: true
            cpu: true
            memory: true
            showLabel: true
            label: "cluster"
          nodes:
            show: true
            cpu: true
            memory: true
            showLabel: true
      - search:
          provider: duckduckgo
          target: _blank
#      - unifi_console:
#          url:
#          username: "{{HOMEPAGE_VAR_UNIFI_USERNAME}}"
#          password: "{{HOMEPAGE_VAR_UNIFI_PASSWORD}}"
#          site: "{{HOMEPAGE_VAR_UNIFI_SITE}}"
    kubernetes:
      mode: cluster
      gateway: true
    settings:
      layout:
        Home:
          style: row
          columns: 6
        Tools:
          style: row
          columns: 6
        Infrastructure:
          style: row
          columns: 3
        Monitoring:
          style: row
          columns: 3
      background:
        image: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
        blur: sm # sm, "", md, xl... see https://tailwindcss.com/docs/backdrop-blur
        saturate: 50 # 0, 50, 100... see https://tailwindcss.com/docs/backdrop-saturate
        brightness: 50 # 0, 50, 75... see https://tailwindcss.com/docs/backdrop-brightness
        opacity: 50 # 0-100
#  envFrom:
#    - secretRef:
#        name: "gethomepage-secret"
  env:
    TZ: America/Chicago
    HOMEPAGE_ALLOWED_HOSTS: home.rsr.net

