app-template:

  controllers:
    main:
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 17.4
          env:
            - name: INIT_POSTGRES_HOST
              value: postgres-lb.kube-system.svc.cluster.local
            - name: INIT_POSTGRES_DBNAME
              value: mealie
            - name: INIT_POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-superuser-secret
                  key: password
            - name: INIT_POSTGRES_USER
              value: mealie
            - name: INIT_POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: mealie-secret
                  key: POSTGRES_PASSWORD

      containers:
        main:
          image:
            repository: ghcr.io/mealie-recipes/mealie
            tag: v3.8.0
            pullPolicy: IfNotPresent
          env:
            - name: API_URL
              value: http://localhost:9000
            - name: DB_ENGINE
              value: postgres
            - name: DB_TYPE
              value: postgres
            - name: POSTGRES_DB
              value: mealie
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mealie-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_SERVER
              value: postgres-lb.kube-system.svc.cluster.local
            - name: POSTGRES_USER
              value: mealie
            - name: TZ
              value: America/Chicago
  service:
    main:
      controller: main
      ports:
        http:
          port: &port 9000

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: mealie
        gethomepage.dev/name: Mealie
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - food.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: mealie
              port: *port

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: food.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - food.rsr.net
          secretName: mealie-cert-tls      

  persistence:
    api-data:
      enabled: true
      storageClass: "longhorn"
      suffix: "api-data"
      accessMode: ReadWriteOnce
      size: "1Gi"
      globalMounts:
        - path: /app/data/


