app-template:
  image:
    repository: ghcr.io/mealie-recipes/mealie
    tag: v1.12.0
    pullPolicy: IfNotPresent
    env:
      - name: DB_ENGINE
        value: postgres
      - name: DB_TYPE
        value: postgres
      - name: POSTGRES_DB
        value: mealie
      - name: POSTGRES_PASSWORD
        valueFrom:
          secretKeyRef:
            name: mealie-secret
            key: POSTGRES_PASSWORD
      - name: POSTGRES_PORT
        value: "5432"
      - name: POSTGRES_SERVER
        value: postgres-v15-rw.kube-system.svc.cluster.local
      - name: POSTGRES_USER
        value: mealie
      - name: TZ
        value: America/Chicago
    volumeMounts:
      - name: api-data
        mountPath: /app/data/

        
  service:
    main:
      ports:
        http:
          port: 9000

  env:
    TZ: "America/Chicago"
    API_URL: "http://localhost:9000"
    DB_ENGINE: postgres
    DB_TYPE: postgres

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: food.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - food.rsr.net
          secretName: mealie-cert-tls      

  persistence:
    api-data:
      enabled: true
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      skipuninstall: true
      mountPath: /app/data/

  initContainers:
    init-db:
      image: ghcr.io/onedr0p/postgres-init:14.10
      env:
        - name: INIT_POSTGRES_HOST
          value: postgres-v15-rw.kube-system.svc.cluster.local
        - name: INIT_POSTGRES_DBNAME
          value: mealie
        - name: INIT_POSTGRES_SUPER_PASS
          valueFrom:
            secretKeyRef:
              name: postgres-superuser-secret
              key: password
        - name: INIT_POSTGRES_USER
          value: mealie
        - name: INIT_POSTGRES_PASS
          valueFrom:
            secretKeyRef:
              name: mealie-secret
              key: POSTGRES_PASSWORD
