unifi-poller:

  image:
    repository: ghcr.io/k8s-at-home/unpoller
    tag: 2.1.3

  env:
    TZ: "America/Chicago"
    UP_UNIFI_DEFAULT_ROLE: "homelab-controller"
    UP_UNIFI_DEFAULT_URL:
      valueFrom:
        secretKeyRef:
          name: unifi-poller-secret
          key: UNIFI_URL
    UP_UNIFI_DEFAULT_VERIFY_SSL: false
    UP_UNIFI_DEFAULT_USER:
      valueFrom:
        secretKeyRef:
          name: unifi-poller-secret
          key: UNIFI_USER
    UP_UNIFI_DEFAULT_PASS:
      valueFrom:
        secretKeyRef:
          name: unifi-poller-secret
          key: UNIFI_PASSWORD
    UP_UNIFI_DEFAULT_SAVE_SITES: true
    UP_UNIFI_DEFAULT_SAVE_DPI: false
    UP_INFLUXDB_DISABLE: true
    UP_PROMETHEUS_DISABLE: false
    UP_PROMETHEUS_NAMESPACE: "unifipoller"

  metrics:
    enabled: true
    serviceMonitor:
      interval: 1m
      scrapeTimeout: 30s
    prometheusRule:
      enabled: true



