app-template:

  ingress:
    main:
      hosts:
        - host: {{ .external_url }}
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - "{{ .external_url }}"
