app-template:

  defaultPodOptions:
   hostNetwork: true
   dnsPolicy: ClusterFirstWithHostNet

  controllers:
    home-assistant:
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch


      initContainers:
        fix-tts:
          image:
            repository: ghcr.io/home-operations/home-assistant
            tag: 2026.1.2
          command: [ 'sh', '-c', 'sed  "s/base_url = get_url(hass)/base_url = get_url(hass,prefer_external=True)/g" /usr/local/lib/python3.13/site-packages/homeassistant/components/media_player/browse_media.py > /ttsFix/tts.py' ]


      containers:
        app:
          image:
            repository: ghcr.io/home-operations/home-assistant
            tag: 2026.1.2
          env:
            TZ: "America/Chicago"
#          envFrom:
#            - secretRef:
#                name: home-assistant-secret
          resources:
            requests:
              cpu: 50m
              memory: 512M
            limits:
              memory: 2Gi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

        code-server:
          image:
            repository: ghcr.io/coder/code-server
            tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
          args:
            - --auth
            - none
            - --disable-telemetry
            - --disable-update-check
            - --user-data-dir
            - /config/.vscode
            - --extensions-dir
            - /config/.vscode
            - --port
            - "12321"
            - /config
          env:
            TZ: America/Chicago
            HASS_SERVER: http://localhost:8123
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 1Gi



  service:
    main:
      primary: true
      forceRename: home-assistant
      type: LoadBalancer
      controller: home-assistant
      loadBalancerIP: 192.168.100.55
      externalTrafficPolicy: Local
      ports:
        http:
          port: 8123
        go2rtc:
          port: 11984

    # Separate ClusterIP service for Gateway API routing
    gateway:
      controller: home-assistant
      type: ClusterIP
      ports:
        http:
          port: 8123
    code:
      type: ClusterIP
      controller: home-assistant
      ports:
        http:
          port: 12321

  persistence:
    config:
      existingClaim: home-assistant-config
      advancedMounts:
        home-assistant:
          app:
            - path: /config
          code-server:
            - path: /config

    hass-cache:
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      advancedMounts:
        home-assistant:
          app:
            - path: /config/.venv
              subPath: hass-venv
    tmpfs:
      type: emptyDir
      advancedMounts:
        home-assistant:
          app:
            - path: /tmp
              subPath: hass-tmp
          code-server:
            - path: /tmp
              subPath: code-server-tmp
            - path: /nonexistent
              subPath: nonexistent


    hass-gcp-sa-json:
      type: secret
      name: home-assistant-gcp-sa-secret
      advancedMounts:
        home-assistant:
          app:
            - path: /config/home-assistant-0ed67c5e16f3.json
              subPath: home-assistant-0ed67c5e16f3.json
              readOnly: true
#      globalMounts:
#        - path: /config/home-assistant-0ed67c5e16f3.json
#          subPath: home-assistant-0ed67c5e16f3.json
#          readOnly: true


    docker-env-empty:
      type: emptyDir
      advancedMounts:
        home-assistant:
          app:
            - path: /.dockerenv
              subPath: .dockerenv
              readOnly: true
          code-server:
            - path: /.dockerenv
              subPath: .dockerenv
              readOnly: true

    config-tts:
      type: emptyDir
      advancedMounts:
        home-assistant:
          app:
            - path: /config/tts

    tts-fix:
      type: emptyDir
      sizeLimit: 2Mi
      advancedMounts:
        home-assistant:
          app:
            - path: /usr/local/lib/python3.13/site-packages/homeassistant/components/media_player/browse_media.py
              subPath: tts.py
          fix-tts:
            - path: /ttsFix

  route:
    app:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: home-assistant
        gethomepage.dev/name: Home Assistant Ext
      parentRefs:
        - name: public
          namespace: kube-system
          sectionName: https
      rules:
        - backendRefs:
            - identifier: gateway
              port: 8123

    internal:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: home-assistant
        gethomepage.dev/name: Home Assistant Int
      parentRefs:
        - name: internal
          namespace: kube-system
          sectionName: https
      hostnames:
        - ha.rsr.net
      rules:
        - backendRefs:
            - identifier: gateway
              port: 8123
    code:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: code-server
        gethomepage.dev/name: Home Assistant
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - ha-config.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: home-assistant-code
              port: 12321
