home-assistant:
  image:
    repository: homeassistant/home-assistant
    tag: 2021.3.4
  env:
    TZ: "America/Chicago"

  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet

  securityContext:
    privileged: true

  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.100.55
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
    #      cert-manager.io/cluster-issuer: letsencrypt-prod
    #      cert-manager.io/common-name: 8003.techbuzzworld.com
    hosts:
      - host: 8003.techbuzzworld.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - "8003.techbuzzworld.com"
    #        secretName: ha-cert-ext-tls
    additionalIngresses:
      - enabled: true
        nameSuffix: "internal"
        annotations:
          nginx.org/websocket-services: home-assistant
          cert-manager.io/cluster-issuer: vault-issuer
          cert-manager.io/common-name: ha.rsr.net
        hosts:
          - host: ha.rsr.net
            paths:
              - path: /
                # Ignored if not kubeVersion >= 1.14-0
                pathType: Prefix
        tls:
          - hosts:
              - "ha.rsr.net"
            secretName: ha-cert-int-tls
  prometheus:
    serviceMonitor:
      enabled: false
  probes:
    liveness:
      enabled: false
    readiness:
      enabled: false
    startup:
      enabled: true
  persistence:
    config:
      enabled: true
      existingClaim: home-assistant-pvc
#      storageClass: "longhorn"
#      accessMode: ReadWriteMany
#      skipuninstall: true
#      size: "10Gi"

  additionalVolumeMounts:
    - name: zigbee-usb
      mountPath: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C130101F-if01-port0

  additionalVolumes:
    - name: zigbee-usb
      hostPath:
        path: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C130101F-if01-port0
  podAnnotations:
    backup.velero.io/backup-volumes: config
  addons:
    codeserver:
      enabled: false
      image:
        repository: codercom/code-server
        tag: 3.9.2
      workingDir: "/config"
      args:
        - --user-data-dir
        - "/config/.vscode"
        - --auth
        - "none"
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "nginx"
          cert-manager.io/cluster-issuer: vault-issuer
          cert-manager.io/common-name: ha-config.rsr.net
        #          nginx.ingress.kubernetes.io/auth-url: "https://auth.rsr.net/oauth2/auth"
        #          nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
        hosts:
          - host: ha-config.rsr.net
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - ha-config.rsr.net
            secretName: ha-config-cert-tls
      volumeMounts:
        - name: config
          mountPath: /config

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - { key: "feature.node.kubernetes.io/custom-zigbee", operator: In, values: [ "true" ] }
  tolerations:
    - key: "arm"
      operator: "Exists"
#  resources:
#    limits:
#      memory: 2500Mi
#    requests:
#      cpu: 100m
#      memory: 1000Mi
  postgresql:
    enabled: false
    existingSecret: home-assistant-postgresql-secret
    postgresqlUsername: home-assistant
    postgresqlDatabase: home-assistant
    persistence:
      enabled: true
      storageClass: "longhorn"
