kyverno:

  grafana:
    enabled: true
    annotations:
      grafana_folder: Kyverno

  backgroundController:
    serviceMonitor:
      enabled: true

    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - pods
            verbs:
              - create
              - update
              - patch
              - delete
              - get
              - list
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.networking.k8s.io
            resources:
              - httproutes
            verbs:
              - get
              - list
              - watch

  cleanupController:
    serviceMonitor:
      enabled: true

  reportsController:
    serviceMonitor:
      enabled: true

  admissionController:
    replicas: 3

    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - pods
            verbs:
              - create
              - update
              - delete
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.networking.k8s.io
            resources:
              - httproutes
            verbs:
              - get
              - list
              - watch

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: kyverno
            app.kubernetes.io/component: kyverno

    serviceMonitor:
      enabled: true
