app-template:

  controllers:
    main:
      containers:
        main:
          image:
            repository: rogerrum/docker-oscar
            tag: main
            pullPolicy: Always

  service:
    main:
      controller: main
      ports:
        http:
          port: &port 3000

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: https://raw.githubusercontent.com/rogerrum/icons/refs/heads/main/images/oscar.png
        gethomepage.dev/name: Oscar
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - oscar.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: oscar
              port: *port


  persistence:
    data:
      enabled: true
      existingClaim: "nas-data-pvc"
      globalMounts:
        - path: /config/
          subPath: oscar

cron:
  image:
    repository: rogerrum/docker-oscar-cron
    tag: main

  schedule: "0 13 * * *"
  concurrencyPolicy: "Forbid"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 5
