app-template:

  controllers:
    main:
      containers:
        main:
          image:
            repository: rogerrum/docker-oscar
            tag: main
            pullPolicy: Always

  service:
    main:
      controller: main
      ports:
        http:
          port: 3000

  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: https://raw.githubusercontent.com/rogerrum/icons/refs/heads/main/images/oscar.png
        gethomepage.dev/name: Oscar
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: oscar.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - oscar.rsr.net
          secretName: oscar-cert-tls

  persistence:
    data:
      enabled: true
      existingClaim: "nas-data-pvc"
      globalMounts:
        - path: /config/
          subPath: oscar

cron:
  image:
    repository: rogerrum/docker-oscar-cron
    tag: main

  schedule: "0 13 * * *"
  concurrencyPolicy: "Forbid"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 5
