app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/home-assistant-libs/python-matter-server
            tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
          env:
            TZ: America/Chicago
            MATTER_SERVER__INSTANCE_NAME: matter-server
            MATTER_SERVER__PORT: &port 5580
            MATTER_SERVER__APPLICATION_URL: &host "matter.rsr.net"
            MATTER_SERVER__LOG_LEVEL: info
          args:
            - --storage-path=/data
            - --paa-root-cert-dir=/data/credentials
            - --bluetooth-adapter=0
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              memory: 100Mi

      pod:
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
          runAsGroup: 0
          fsGroup: 0
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups: [ 34 ]

  service:
    main:
      ports:
        http:
          port: *port

  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: home-assistant
        gethomepage.dev/name: Matter Server
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - matter.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: matter-server
              port: *port

  persistence:
    data:
      existingClaim: matter-server-data
      advancedMounts:
        main:
          main:
            - path: /data
    tmp:
      enabled: true
      type: emptyDir
      advancedMounts:
        main:
          main:
            - path: /tmp


