app-template:
  controllers:
    couchdb:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      statefulset:
        volumeClaimTemplates:
          - name: data
            accessMode: ReadWriteOnce
            size: 2Gi
            storageClass: "longhorn"
            globalMounts:
              - path: /opt/couchdb/data

      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: "OnRootMismatch"

      initContainers:
        init-config:
          image:
            repository: public.ecr.aws/docker/library/busybox
            tag: latest@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
            pullPolicy: IfNotPresent
          command:
            - "/bin/sh"
            - "-c"
            - "cp /tmp/config/*.ini /opt/couchdb/etc/default.d/; ls -lrt /opt/couchdb/etc/default.d;"

      containers:
        couchdb:
          image:
            repository: public.ecr.aws/docker/library/couchdb
            tag: 3.5.1
          env:
            COUCHDB_USER:
              valueFrom:
                secretKeyRef:
                  name: couchdb-secret
                  key: couchdb-user
            COUCHDB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: couchdb-secret
                  key: couchdb-password
          resources:
            requests:
              cpu: 48m
              memory: 146M
            limits:
              memory: 5Gi

  service:
    app:
      controller: couchdb
      ports:
        http:
          port: &port 5984

  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Infrastructure
        gethomepage.dev/icon: sh-couchdb
        gethomepage.dev/name: CouchDB
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - couchdb.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: couchdb
              port: *port

  persistence:
    config:
      enabled: true
      type: configMap
      name: couchdb-configmap
      advancedMounts:
        couchdb:
          init-config:
            - path: /tmp/config
    config-storage:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /opt/couchdb/etc/default.d
