
app-template:

  image:
    repository: ghcr.io/nathanvaughn/webtrees
    tag: "2.1.20"

  service:
    main:
      enabled: true
      ports:
        http:
          port: &port 80

  env:
    TZ: "America/Chicago"
    PRETTY_URLS: "TRUE"
    LANG: "en-US"
    BASE_URL: "https://tree.rsr.net"
    DB_TYPE: "pgsql"
    DB_HOST: "postgres-rw.kube-system.svc.cluster.local"
    DB_PORT: "5432"
    DB_USER: "webtrees"
    DB_PASS:
      valueFrom:
        secretKeyRef:
          name: webtrees-secret
          key: WEBTREE_MARIADB_PASS
    DB_NAME: "webtrees"
    DB_PREFIX: "wt_"
    WT_USER:
      valueFrom:
        secretKeyRef:
          name: webtrees-secret
          key: WEBTREE_ADMIN_USER
    WT_NAME: "Roger Rumao"
    WT_PASS:
      valueFrom:
        secretKeyRef:
          name: webtrees-secret
          key: WEBTREE_ADMIN_PASS
    WT_EMAIL:
      valueFrom:
        secretKeyRef:
          name: webtrees-secret
          key: WEBTREE_ADMIN_EMAIL

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: "tree.rsr.net"
          paths:
            - path: "/"
              pathType: Prefix
      tls:
        - hosts:
            - tree.rsr.net
          secretName: tree-cert-tls

  persistence:
    config:
      enabled: true
      mountPath: /var/www/webtrees/data/
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      skipuninstall: true
      size: "1Gi"

  initContainers:
    init-db:
      image: ghcr.io/onedr0p/postgres-init:14.8
      env:
        - name: INIT_POSTGRES_HOST
          value: postgres-rw.kube-system.svc.cluster.local
        - name: INIT_POSTGRES_DBNAME
          value: webtrees
        - name: INIT_POSTGRES_SUPER_PASS
          valueFrom:
            secretKeyRef:
              name: postgres-superuser-secret
              key: password
        - name: INIT_POSTGRES_USER
          value: webtrees
        - name: INIT_POSTGRES_PASS
          valueFrom:
            secretKeyRef:
              name: webtrees-secret
              key: WEBTREE_MARIADB_PASS
