app-template:
  env:
    TZ: "America/Chicago"
    PGID: "1000"
    PUID: "1000"

  image:
    repository: linuxserver/heimdall
    tag: 2.5.8

  service:
    main:
      enabled: true
      ports:
        http:
          port: &port 80
  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: home.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - home.rsr.net
          secretName: home-cert-tls

  persistence:
    config:
      enabled: true
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      skipuninstall: true
