app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/koenkk/zigbee2mqtt
            tag: 2.6.3
          env:
            TZ: America/Chicago
            ZIGBEE2MQTT_DATA: /config
            ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
            #ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: "false"
            #ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: "false"
            ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
            ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
            #ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: "false"
            #ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: "false"
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info # debug
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
            #ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: "false"
            ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: "true"
            #ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: "true"
            #            ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: "8080"
            #            ZIGBEE2MQTT_CONFIG_FRONTEND_URL: "https://zigbee.rsr.net"
            ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: true
            ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: "true"
            ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
            ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: "true"
            ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://emqx.default.svc.cluster.local
            ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
            ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
            ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 115200
            ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: "false"
            ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: zstack
            ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "/dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_72de2ed2c445ed11a8848da40a86e0b4-if00-port0"
          envFrom:
            - secretRef:
                name: zigbee2mqtt-secret
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              memory: 512Mi

          securityContext:
            privileged: true
      pod:

        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - { key: "sonoff.feature.node.kubernetes.io/zigbee", operator: In, values: [ "true" ] }

        tolerations:
          - key: "arm64"
            operator: "Exists"

  #        securityContext:
  #          runAsUser: 568
  #          runAsGroup: 568
  #          fsGroup: 568
  #          fsGroupChangePolicy: OnRootMismatch



  persistence:
    config:
      enabled: true
      mountPath: /config
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      skipuninstall: true

    zigbee-usb:
      enabled: true
      type: hostPath
      hostPath: /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_72de2ed2c445ed11a8848da40a86e0b4-if00-port0

  service:
    main:
      ports:
        http:
          port: 8080

  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: zigbee2mqtt
        gethomepage.dev/name: Zigbee2mqtt
        kubernetes.io/ingress.class: "nginx"
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
        nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: &host "zigbee.rsr.net"
          paths:
            - path: /
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: zigbee2mqtt-cert

