app-template:
  image:
    repository: mattermost/focalboard
    tag: 7.5.2

  env:
    FOCALBOARD_PORT: 8000
    TZ: "America/Chicago"

  service:
    main:
      ports:
        http:
          port: 8000

  configMaps:
    config:
      enabled: true
      data:
       json: |
        {
          "serverRoot": "http://localhost:8000",
          "port": 8000,
          "dbtype": "sqlite3",
          "dbconfig": "/data/focalboard.db",
          "postgres_dbconfig": "dbname=focalboard sslmode=disable",
          "useSSL": false,
          "webpath": "./pack",
          "filespath": "/data/files",
          "telemetry": true,
          "session_expire_time": 2592000,
          "session_refresh_time": 18000,
          "localOnly": false,
          "enableLocalMode": true,
          "localModeSocketLocation": "/var/tmp/focalboard_local.socket"
        }


  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: board.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - board.rsr.net
          secretName: board-cert-tls

  probes:
    liveness:
      enabled: false
    readiness:
      enabled: false
    startup:
      enabled: false

  podSecurityContext:
    fsGroup: 2000

  persistence:
    data:
      enabled: true
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      skipuninstall: true
      size: 1Gi

    focal-config:
      enabled: true
      mountPath: "/opt/focalboard/config.json"
      subPath: json
      type: "custom"
      volumeSpec:
        configMap:
          name: focalboard-config

