minio:

  mode: standalone

  environment:
    MINIO_PROMETHEUS_URL: "http://kube-prometheus-stack-prometheus.monitoring.svc:9090"
#    MINIO_SERVER_URL: "https://s3.rsr.net"
#    MINIO_BROWSER_REDIRECT_URL: "https://minio.rsr.net"
    MINIO_PROMETHEUS_JOB_ID: minio
  #    MINIO_PROMETHEUS_AUTH_TYPE: public

  persistence:
    existingClaim: "nas-data-pvc"
    subPath: "minio-2023"



  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: release
                operator: In
                values:
                  - minio
          topologyKey: "kubernetes.io/hostname"

  resources:
    requests:
      memory: 350Mi
      cpu: 25m
    limits:
      memory: 1000Mi
  securityContext:
    enabled: false
  metrics:
    serviceMonitor:
      enabled: true

  existingSecret: minio-secret

  podAnnotations:
    secret.reloader.stakater.com/reload: "minio"
