oauth2-proxy:
  image:
    registry: "quay.io"
    repository: "oauth2-proxy/oauth2-proxy"
    tag: "v7.12.0"
  replicaCount: 2


  config:
    existingSecret: oauth2-proxy-secret
    configFile: |-
      email_domains = [ "*" ]
      upstreams = [ "static://200" ]
    

  extraArgs:
    # Provider
    provider: "oidc"
    oidc-issuer-url: "https://pi.rsr.net"

    # URLs
    #redirect-url: "https://auth.rsr.net/oauth2/callback"

    # Proxy settings
    reverse-proxy: "true"

    # Headers for external auth mode
    set-xauthrequest: "true"
    set-authorization-header: "true"
    pass-authorization-header: "true"
    pass-access-token: "true"
    pass-user-headers: "true"

    # Cookie settings
    cookie-domain: ".rsr.net"
    cookie-secure: "true"
    cookie-samesite: "lax"
    cookie-name: "_oauth2_proxy"

    # Authentication
    email-domain: "*"
    skip-provider-button: "true"
    whitelist-domain: "*.rsr.net"
    scope: "openid email profile groups"

    # PKCE
    code-challenge-method: "S256"

    # Logging
    standard-logging: "true"
    auth-logging: "true"
    request-logging: "true"

    # For debugging
    show-debug-on-error: "true"
    insecure-oidc-skip-issuer-verification: "true"

    silence-ping-logging: "true"


  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - oauth2-proxy
          topologyKey: "kubernetes.io/hostname"



  extraVolumes:
   - name: ca-bundle-cert
     secret:
      secretName: auth-crt-secret

  extraVolumeMounts:
   - mountPath: /etc/ssl/certs/
     name: ca-bundle-cert


