oauth2-proxy:
  image:
    repository: "quay.io/oauth2-proxy/oauth2-proxy"
    tag: "v7.5.0"
  replicaCount: 2
  # tolerations:
  #   - key: "arm"
  #     operator: "Exists"
  ingress:
    enabled: true
    path: /oauth2
    hosts: [ auth.rsr.net ]
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/issuer: step-issuer
      cert-manager.io/issuer-kind: StepClusterIssuer
      cert-manager.io/issuer-group: certmanager.step.sm
      cert-manager.io/revision-history-limit: "3"
      cert-manager.io/duration: "2160h"
      cert-manager.io/renew-before: "720h"
    tls:
      - hosts:
          - auth.rsr.net
        secretName: oauth2-proxy-cert-tls
  extraArgs:
    provider: oidc
    oidc-issuer-url: "https://rogerrum.us.auth0.com/"
    skip-provider-button:
    pass-authorization-header:
    email-domain: "*"
    cookie-domain: ".rsr.net"
    whitelist-domain: ".rsr.net"

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - oauth2-proxy
          topologyKey: "kubernetes.io/hostname"

  config:
    existingSecret: oauth2-proxy-secret
