oauth2-proxy:
  image:
    registry: "quay.io"
    repository: "oauth2-proxy/oauth2-proxy"
    tag: "v7.12.0"
  replicaCount: 2


  extraArgs:
    #oidc-issuer-url: "https://rogerrum.us.auth0.com/"
    provider: oidc
    oidc-issuer-url: "https://pi.rsr.net"
#    redirect-url: "https://auth.rsr.net/oauth2/callback"
    reverse-proxy: "true"
    set-xauthrequest: "true"
    email-domain: "*"
    cookie-domain: ".rsr.net"
    cookie-secure: "true"
    cookie-samesite: "lax"
    skip-provider-button: "true"
    whitelist-domain: "*.rsr.net"
    scope: "openid email profile groups"
    silence-ping-logging: "true"
    #challenge-method: "S256"
#    proxy-login-url: "https://pi.rsr.net"


  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - oauth2-proxy
          topologyKey: "kubernetes.io/hostname"

  config:
    existingSecret: oauth2-proxy-secret

  extraVolumes:
   - name: ca-bundle-cert
     secret:
      secretName: auth-crt-secret

  extraVolumeMounts:
   - mountPath: /etc/ssl/certs/
     name: ca-bundle-cert


