app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 17.4@sha256:43dd04e91e861cf912378bad987afa168fa4f13d05528304907ad0aa351195d6
          env:
            - name: INIT_POSTGRES_HOST
              value: postgres-lb.kube-system.svc.cluster.local
            - name: INIT_POSTGRES_DBNAME
              value: planka
            - name: INIT_POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-superuser-secret
                  key: password
            - name: INIT_POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: planka-secret
                  key: DATABASE_USER
            - name: INIT_POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: planka-secret
                  key: DATABASE_PASS

      containers:
        main:
          image:
            repository: ghcr.io/plankanban/planka
            tag: 1.26.3@sha256:e469d724985db3f560ef0aa2218d54536212459bf8ecbdbc9fd995fc3cbe29db
          env:
            TZ: America/Chicago
            BASE_URL: https://planka.rsr.net
            WEBHOOKS: "[]"
            PGSSLMODE: no-verify
          envFrom:
            - secretRef:
                name: planka-secret
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: ["ALL"]
          resources:
            limits: &resources
              memory: 1Gi
            requests:
              <<: *resources
              cpu: 10m
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: &port 1337

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: planka
        gethomepage.dev/name: Planka
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - planka.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: planka
              port: *port

  persistence:
    config:
      existingClaim: planka-data
      advancedMounts:
        main:
          main:
            - path: /app/public/user-avatars
              subPath: user-avatars
            - path: /app/private/attachments
              subPath: attachments
            - path: /app/public/project-background-images
              subPath: project-background-images

