repo:
  url: https://github.com/rogerrum/k8s-gitops.git
  revision: main


applications:
  - name: airprint
    namespace: default
    path: main/homelab/airprint
    manifest-paths: /main/homelab/airprint
    sync-wave: "-1"
    helm:
      enabled: true


  - name: cloudflare-ddns
    namespace: default
    path: main/homelab/cloudflare-ddns
    manifest-paths: /main/homelab/cloudflare-ddns
    sync-wave: "-1"
    helm:
      enabled: true

  - name: emqx
    namespace: default
    path: main/homelab/emqx
    manifest-paths: /main/homelab/emqx
    sync-wave: "-1"
    helm:
      enabled: true
      secrets:
        enabled: true
        keys:
          - emqx-config
      additionalValues:
        - http://localhost/emqx.yml

  - name: frigate
    namespace: default
    path: main/homelab/frigate
    manifest-paths: /main/homelab/frigate
    sync-wave: "-1"
    helm:
      enabled: true
      secrets:
        enabled: true
        keys:
          - camera-config
          - emqx-config
      additionalValues:
        - http://localhost/frigate.yml

  - name: home-assistant
    namespace: default
    path: main/homelab/home-assistant
    manifest-paths: /main/homelab/home-assistant
    sync-wave: "-1"
    helm:
      enabled: true
      secrets:
        enabled: true
        keys:
          - hass-config
      additionalValues:
        - http://localhost/home-assistant.yml

  - name: kanboard
    namespace: default
    path: main/homelab/kanboard
    manifest-paths: /main/homelab/kanboard
    sync-wave: "-1"
    helm:
      enabled: true

  - name: mealie
    namespace: default
    path: main/homelab/mealie
    manifest-paths: /main/homelab/mealie
    sync-wave: "-1"
    helm:
      enabled: true

  - name: matter-server
    namespace: default
    path: main/homelab/matter-server
    manifest-paths: /main/homelab/matter-server
    sync-wave: "-1"
    helm:
      enabled: true

  - name: minio
    namespace: default
    path: main/homelab/minio
    manifest-paths: /main/homelab/minio
    sync-wave: "0"
    helm:
      enabled: true
      secrets:
        enabled: true
        keys:
          - minio-config
      additionalValues:
        - http://localhost/minio.yml

  - name: node-red
    namespace: default
    path: main/homelab/node-red
    manifest-paths: /main/homelab/node-red
    sync-wave: "-1"
    helm:
      enabled: true

  - name: openttd
    namespace: default
    path: main/homelab/openttd
    manifest-paths: /main/homelab/openttd
    sync-wave: "-1"
    helm:
      enabled: true

  - name: oscar
    namespace: default
    path: main/homelab/oscar
    manifest-paths: /main/homelab/oscar
    sync-wave: "-1"
    helm:
      enabled: true

  - name: webtrees
    namespace: default
    path: main/homelab/webtrees
    manifest-paths: /main/homelab/webtrees
    sync-wave: "-1"
    helm:
      enabled: true

  - name: zwavejs2mqtt
    namespace: default
    path: main/homelab/zwavejs2mqtt
    manifest-paths: /main/homelab/zwavejs2mqtt
    sync-wave: "-1"
    helm:
      enabled: true

  - name: cyberchef
    namespace: default
    path: main/homelab/cyberchef
    manifest-paths: /main/homelab/cyberchef
    sync-wave: "-1"
    helm:
      enabled: true

  - name: echo-server
    namespace: default
    path: main/homelab/echo-server
    manifest-paths: /main/homelab/echo-server
    sync-wave: "-1"
    helm:
      enabled: true

  - name: zigbee2mqtt
    namespace: default
    path: main/homelab/zigbee2mqtt
    manifest-paths: /main/homelab/zigbee2mqtt
    sync-wave: "-1"
    helm:
      enabled: true

  - name: actual
    namespace: default
    path: main/homelab/actual
    manifest-paths: /main/homelab/actual
    sync-wave: "-1"
    helm:
      enabled: true

  - name: wyze-bridge
    namespace: default
    path: main/homelab/wyze-bridge
    manifest-paths: /main/homelab/wyze-bridge
    sync-wave: "-1"
    helm:
      enabled: true

  - name: nomie
    namespace: default
    path: main/homelab/nomie
    manifest-paths: /main/homelab/nomie
    sync-wave: "-1"
    helm:
      enabled: true

  - name: external-route
    namespace: kube-system
    path: main/homelab/external-route
    manifest-paths: /main/homelab/external-route
    sync-wave: "-1"
    helm:
      enabled: true

  - name: teslamate
    namespace: default
    path: main/homelab/teslamate
    manifest-paths: /main/homelab/teslamate
    sync-wave: "-1"
    helm:
      enabled: true

  - name: planka
    namespace: default
    path: main/homelab/planka
    manifest-paths: /main/homelab/planka
    sync-wave: "-1"
    helm:
      enabled: true

  - name: gethomepage
    namespace: default
    path: main/homelab/gethomepage
    manifest-paths: /main/homelab/gethomepage
    sync-wave: "-1"
    helm:
      enabled: true

  - name: tesla-dashcam
    namespace: default
    path: main/homelab/tesla-dashcam
    manifest-paths: /main/homelab/tesla-dashcam
    sync-wave: "-1"
    helm:
      enabled: true

  - name: esphome
    namespace: default
    path: main/homelab/esphome
    manifest-paths: /main/homelab/esphome
    sync-wave: "-1"
    helm:
      enabled: true

  - name: manyfold
    namespace: default
    path: main/homelab/manyfold
    manifest-paths: /main/homelab/manyfold
    sync-wave: "-1"
    helm:
      enabled: true

  - name: jellyfin
    namespace: default
    path: main/homelab/jellyfin
    manifest-paths: /main/homelab/jellyfin
    sync-wave: "-1"
    helm:
      enabled: true

  - name: paperless-ngx
    namespace: default
    path: main/homelab/paperless-ngx
    manifest-paths: /main/homelab/paperless-ngx
    sync-wave: "-1"
    helm:
      enabled: true
