app-template:
  controllers:
    main:
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 17.4
          env:
            - name: INIT_POSTGRES_HOST
              value: postgres-lb.kube-system.svc.cluster.local
            - name: INIT_POSTGRES_DBNAME
              value: kanboard
            - name: INIT_POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-superuser-secret
                  key: password
            - name: INIT_POSTGRES_USER
              value: kanboard
            - name: INIT_POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: kanboard-secret
                  key: DB_PASSWORD

      containers:
        main:
          image:
            repository: kanboard/kanboard
            tag: v1.2.49
          env:
            TZ: "America/Chicago"
            DB_DRIVER: "postgres"
            DB_NAME: kanboard
            DB_USERNAME: kanboard
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: kanboard-secret
                  key: DB_PASSWORD
            DB_PORT: null
            DB_HOSTNAME: "postgres-lb.kube-system.svc.cluster.local"
            LOG_DRIVER: stdout
            MAIL_CONFIGURATION: "false"

  service:
    main:
      controller: main
      enabled: true
      ports:
        http:
          port: &port 80

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: kanboard.svg
        gethomepage.dev/name: Kanboard
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - kanboard.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: kanboard
              port: *port


