app-template:
  image:
    repository: kanboard/kanboard
    tag: v1.2.40

  service:
    main:
      enabled: true
      ports:
        http:
          port: &port 80

  env:
    TZ: "America/Chicago"
    DB_DRIVER: "postgres"
    DB_NAME: kanboard
    DB_USERNAME: kanboard
    DB_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: kanboard-secret
          key: DB_PASSWORD
    DB_PORT: null
    DB_HOSTNAME: "postgres-v15-rw.kube-system.svc.cluster.local"
    LOG_DRIVER: stdout
    MAIL_CONFIGURATION: "false"

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: kanboard.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - kanboard.rsr.net
          secretName: kanboard-cert-tls

  initContainers:
    init-db:
      image: ghcr.io/onedr0p/postgres-init:14.10
      env:
        - name: INIT_POSTGRES_HOST
          value: postgres-v15-rw.kube-system.svc.cluster.local
        - name: INIT_POSTGRES_DBNAME
          value: kanboard
        - name: INIT_POSTGRES_SUPER_PASS
          valueFrom:
            secretKeyRef:
              name: postgres-superuser-secret
              key: password
        - name: INIT_POSTGRES_USER
          value: kanboard
        - name: INIT_POSTGRES_PASS
          valueFrom:
            secretKeyRef:
              name: kanboard-secret
              key: DB_PASSWORD
