argo-cd:

  global:
    image:
      repository: argoproj/argocd
#      tag: v2.2.3
  dex:
    enabled: false

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2
      targetCPUUtilizationPercentage: 85
      targetMemoryUtilizationPercentage: 85

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    extraContainers:
      - name: secret-loader
        image: httpd:2.4
        ports:
          - name: repo-secret-loader
            containerPort: 9200
            protocol: TCP
        volumeMounts:
          - mountPath: /usr/local/apache2/htdocs/
            name: helm-values

    volumeMounts:
      - name: helm-values
        mountPath: /helm-values
    volumes:
      - name: helm-values
        secret:
          secretName: argo-helm-values
          optional: true

    resources:
      requests:
        cpu: 5526m
        memory: 4744M

    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - argocd-repo-server
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                    - argocd
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - repo-server
            topologyKey: "kubernetes.io/hostname"



  server:
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: vault-issuer
        cert-manager.io/common-name: argo.rsr.net
      hosts:
        - argo.rsr.net
      tls:
        - hosts:
            - "argo.rsr.net"
          secretName: argo-cert-tls
    extraArgs:
      - --insecure
    config:
      helm.valuesFileSchemes: http, https, file
      repositories: |
        - type: helm
          name: stable
          url: https://charts.helm.sh/stable
        - type: helm
          name: argo-cd
          url: https://argoproj.github.io/argo-helm
        - type: git
          url: https://github.com/rogerrum/k8s-gitops.git
          passwordSecret:
            name: deployment-git-repo-credentials
            key: password
          usernameSecret:
            name: deployment-git-repo-credentials
            key: username
      # Following the guide at https://argoproj.github.io/argo-cd/user-guide/diffing/#system-level-configuration
      resource.customizations: |
        admissionregistration.k8s.io/MutatingWebhookConfiguration:
          ignoreDifferences: |
            jsonPointers:
            - /webhooks/0/clientConfig/caBundle

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    autoscaling:
      enabled: true
      minReplicas: 2
      targetCPUUtilizationPercentage: 85
      targetMemoryUtilizationPercentage: 85
    resources:
      requests:
        cpu: 100m
        memory: 105Mi
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - argocd-server
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                    - argocd
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - server
            topologyKey: "kubernetes.io/hostname"

  controller:
    enableStatefulSet: true
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  redis:
    image:
      repository: redis
      tag: 6.2.6-alpine

  redis-ha:
    enabled: true
    image:
      repository: redis
      tag: 6.2.6-alpine

  notifications:
    enabled: false


