app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"

      pod:
        enableServiceLinks: false

      containers:
        main:
          image:
            repository: ghcr.io/actualbudget/actual-server
            tag: 26.2.0
          env:
            TZ: "America/Chicago"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5

          resources:
            requests:
              cpu: 12m
              memory: 128M
            limits:
              memory: 512M

  service:
    main:
      ports:
        http:
          port: &port 5006
  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: sh-actual-budget
        gethomepage.dev/name: Actual
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - actual.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: actual
              port: *port

  persistence:
    data:
      existingClaim: actual-data
      advancedMounts:
        main:
          main:
            - path: /data



