app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"

      pod:
        enableServiceLinks: false

      containers:
        main:
          image:
            repository: ghcr.io/actualbudget/actual-server
            tag: 25.12.0
          env:
            TZ: "America/Chicago"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5

          resources:
            requests:
              cpu: 12m
              memory: 128M
            limits:
              memory: 512M

  service:
    main:
      ports:
        http:
          port: 5006
  route:
    main:
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - actual.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: actual
              port: 8000

  ingress:
    main:
      enabled: true
      className: "nginx"
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: sh-actual-budget
        gethomepage.dev/name: Actual
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: &host "actual.rsr.net"
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: actual-tls

  persistence:
    data:
      enabled: true
      suffix: data
      storageClass: "longhorn"
      size: 5Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /data



