# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json
app-template:
  controllers:
    main:
      pod:
        tolerations:
#          - key: "arm"
#            operator: "Exists"
          - key: "arm64"
            operator: "Exists"
      containers:
        main:
          image:
            repository: ghcr.io/lpicanco/prometheus-speedtest-exporter
            tag: 0.2.2@sha256:0c12ce9315bcb4e26071caa3236a2c2dab8612301a892fdec8911a41058da8e9
          resources:
            requests:
              cpu: 10m
              memory: 15Mi
            limits:
              memory: 100Mi
  service:
    app:
      controller: main
      ipFamilyPolicy: PreferDualStack
      ports:
        metrics:
          port: 9516


