


enabled: true
apps:
  - name: proxmox
    host: proxmox.rsr.net
    port: 8006
    homepageGroup: "Infrastructure"
    homepageIcon: "proxmox"
    homepageName: "Proxmox"
    backendProtocol: HTTPS
    backendInsecureIngress: true
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: promox

  - name: idrac
    host: idrac.rsr.net
    port: 443
    homepageGroup: "Infrastructure"
    homepageIcon: "idrac"
    homepageName: "Dell iDRAC"
    backendProtocol: HTTPS
    backendInsecureIngress: true
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: idrac

  - name: pihole
    host: pihole.rsr.net
    port: 90
    homepageGroup: "Infrastructure"
    homepageIcon: "pi-hole"
    homepageName: "Pi-hole"
    backendProtocol: HTTP
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /admin
    service:
      externalName: pihole-vip

  - name: qnap
    host: qnap.rsr.net
    port: 8080
    homepageGroup: "Infrastructure"
    homepageIcon: "qnap"
    homepageName: "QNAP"
    backendProtocol: HTTP
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: nas

  - name: dozzle
    host: dozzle.rsr.net
    port: 9999
    homepageGroup: "Monitoring"
    homepageIcon: "dozzle"
    homepageName: "Dozzle"
    backendProtocol: HTTP
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: home-docker

  - name: portainer
    host: portainer.rsr.net
    port: 9000
    homepageGroup: "Infrastructure"
    homepageIcon: "portainer"
    homepageName: "Portainer"
    backendProtocol: HTTP
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: home-docker

  - name: cockpit
    host: cockpit.rsr.net
    port: 9090
    homepageGroup: "Infrastructure"
    homepageIcon: "cockpit"
    homepageName: "Cockpit"
    backendProtocol: HTTPS
    backendInsecureIngress: true
    proxySslVerify: "off"
    proxyReadTimeout: 1800s
    path: /
    service:
      externalName: k8s-admin
