app-template:

  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/rogerrum/docker-openttd
            tag: "14.1"
            pullPolicy: IfNotPresent



  service:
    main:
      controller: main
      ports:
        http:
          port: &port 3000

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: https://raw.githubusercontent.com/rogerrum/icons/refs/heads/main/images/openttd.svg
        gethomepage.dev/name: OpenTTD
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - ttd.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: openttd
              port: *port


  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: 1Gi
