app-template:
  initContainers:
    init-db:
      image: ghcr.io/onedr0p/postgres-init:15.5@sha256:70b4c228f2e86de39008a35211c76c1ac6de1dcdf0e908ac09ede6a11e2344e2
      env:
        - name: INIT_POSTGRES_HOST
          value: postgres-v15-rw.kube-system.svc.cluster.local
        - name: INIT_POSTGRES_DBNAME
          value: teslamate
        - name: INIT_POSTGRES_SUPER_PASS
          valueFrom:
            secretKeyRef:
              name: postgres-superuser-secret
              key: password
        - name: INIT_POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: teslamate-secret
              key: DATABASE_USER
        - name: INIT_POSTGRES_PASS
          valueFrom:
            secretKeyRef:
              name: teslamate-secret
              key: DATABASE_PASS

  image:
    repository: teslamate/teslamate
    tag: "1.33.0"
  env:
    TZ: "America/Chicago"
    DISABLE_MQTT: "false"
    MQTT_HOST: "emqx.default.svc.cluster.local"
    MQTT_PORT: 1883
    DATABASE_NAME: teslamate
    DATABASE_HOST: postgres-v15-rw.kube-system.svc.cluster.local
  envFrom:
    - secretRef:
        name: teslamate-secret
  service:
    main:
      type: ClusterIP
      ports:
        http:
          port: 4000
  ingress:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: teslamate
        gethomepage.dev/name: Teslamate
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: &host teslamate.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: teslamate-cert-tls
  resources:
    requests:
      memory: 250Mi
      cpu: 50m
    limits:
      memory: 500Mi
