app-template:

  controllers:
    teslamate:
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 17.4@sha256:43dd04e91e861cf912378bad987afa168fa4f13d05528304907ad0aa351195d6
          env:
            - name: INIT_POSTGRES_HOST
              value: postgres-lb.kube-system.svc.cluster.local
            - name: INIT_POSTGRES_DBNAME
              value: teslamate
            - name: INIT_POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-superuser-secret
                  key: password
            - name: INIT_POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: teslamate-secret
                  key: DATABASE_USER
            - name: INIT_POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: teslamate-secret
                  key: DATABASE_PASS

      containers:
        main:
          image:
            repository: teslamate/teslamate
            tag: "2.1.1"
          env:
            TZ: "America/Chicago"
            DISABLE_MQTT: "false"
            MQTT_HOST: "emqx.default.svc.cluster.local"
            MQTT_PORT: 1883
            DATABASE_NAME: teslamate
            DATABASE_HOST: postgres-lb.kube-system.svc.cluster.local
          envFrom:
            - secretRef:
                name: teslamate-secret

          resources:
            requests:
              memory: 250Mi
              cpu: 50m
            limits:
              memory: 500Mi
  service:
    main:
      type: ClusterIP
      ports:
        http:
          port: &port 4000

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: teslamate
        gethomepage.dev/name: Teslamate
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - teslamate.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: teslamate
              port: *port

  resources:
    requests:
      memory: 250Mi
      cpu: 50m
    limits:
      memory: 500Mi
