node-red:
  image:
    repository: nodered/node-red
    tag: 1.3.5-12-minimal
  env:
    TZ: "America/Chicago"
    FLOWS: "flows.json"
    NODE_RED_ENABLE_PROJECTS: "true"
    NODE_RED_ENABLE_SAFE_MODE: "false"
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: vault-issuer
        cert-manager.io/common-name: node-red.rsr.net
      #      kubernetes.io/ingress.class: "nginx"
        nginx.ingress.kubernetes.io/auth-url: "https://auth.rsr.net/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: node-red.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "node-red.rsr.net"
          secretName: node-red-cert
  persistence:
    data:
      enabled: true
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "5Gi"
      skipuninstall: true
  podAnnotations:
    backup.velero.io/backup-volumes: data
  tolerations:
    - key: "arm"
      operator: "Exists"
    - key: "arm64"
      operator: "Exists"
  resources:
    requests:
      memory: 350Mi
      cpu: 25m
    limits:
      memory: 500Mi

  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
