app-template:

  controllers:
    main:
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: "OnRootMismatch"
      containers:
        main:
          image:
            repository: nodered/node-red
            tag: 4.1.2-18-minimal
          env:
            TZ: "America/Chicago"
            FLOWS: "flows.json"
            NODE_RED_ENABLE_PROJECTS: "true"
            NODE_RED_ENABLE_SAFE_MODE: "false"
            NODE_OPTIONS: null
          resources:
            requests:
              memory: 350Mi
              cpu: 150m
            limits:
              memory: 1Gi

  service:
    main:
      controller: main
      enabled: true
      ports:
        http:
          port: &port 1880

  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: node-red
        gethomepage.dev/name: Node-Red
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - node-red.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: node-red
              port: *port

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
        kubernetes.io/ingress.class: nginx
        #nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:80/oauth2/auth"
        #nginx.ingress.kubernetes.io/auth-signin: https://auth.rsr.net/oauth2/start
      hosts:
        - host: node-red.rsr.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "node-red.rsr.net"
          secretName: node-red-cert
  persistence:
    data:
      enabled: true
      suffix: data
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "5Gi"

  defaultPodOptions:
    tolerations:
      - key: "arm"
        operator: "Exists"
      - key: "arm64"
        operator: "Exists"

