app-template:
  defaultPodOptions:
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
    securityContext:
      fsGroup: 2000
      fsGroupChangePolicy: OnRootMismatch
      runAsGroup: 2000
      runAsUser: 2000
  controllers:
    esphome:
      annotations:
        secret.reloader.stakater.com/reload: esphome-secrets
      containers:
        app:
          image:
            repository: ghcr.io/home-operations/esphome
            tag: 2025.12.6@sha256:2eb9f7a41abd40af39157698e5bae6b25d5d65872104bb64d36b98de6e90fe93
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          resources:
            requests:
              cpu: 5m
              memory: 512Mi
            limits:
              memory: 3072Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

        code-server:
          image:
            repository: ghcr.io/coder/code-server
            tag: 4.108.0@sha256:2956e005c038f3d050886163b290adf0cad38cc7605435a1038f4b4b5b3dc5c8
          args:
            - --auth
            - none
            - --disable-telemetry
            - --disable-update-check
            - --user-data-dir
            - /mnt/code-server
            - --extensions-dir
            - /mnt/code-server
            - --port
            - "12321"
            - /config
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 512Mi
  service:
    app:
      forceRename: "{{.Release.Name}}"
      controller: esphome
      ports:
        http:
          port: &esphome-port 6052
    code-server:
      controller: esphome
      ports:
        http:
          port: &code-server-port 12321

  persistence:
    config:
      suffix: config
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "1Gi"
      advancedMounts:
        esphome:
          app:
            - path: /config
              subPath: config
          code-server:
            - path: /config
              subPath: config
            - path: /mnt/code-server
              subPath: code-server
#    secrets:
#      type: secret
#      name: esphome-secrets
#      globalMounts:
#        - path: /config/secrets.yaml
#          subPath: secrets.yaml
    buildcache:
      suffix: buildcache
      storageClass: "longhorn"
      size: 10Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        esphome:
          app:
            - path: /cache
    tmpfs:
      type: emptyDir
      advancedMounts:
        esphome:
          app:
            - path: /tmp
              subPath: esphome-tmp
          code-server:
            - path: /tmp
              subPath: code-server-tmp
            - path: /nonexistent
              subPath: nonexistent
#    deploy-key:
#      type: secret
#      name: esphome-deploykey
#      defaultMode: 256
#      advancedMounts:
#        code-server:
#          code-server:
#            - path: /home/coder/.ssh/id_ed25519
#              subPath: id_ed25519
  route:
    app:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: esp-home
        gethomepage.dev/name: ESPHome
      hostnames:
        - esphome.rsr.net
      parentRefs:
        - name: internal
          namespace: kube-system
      rules:
        - backendRefs:
            - identifier: app
              port: *esphome-port
    code-server:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: code-server
        gethomepage.dev/name: ESPHome Code
      hostnames:
        - esphome-code.rsr.net
      parentRefs:
        - name: internal
          namespace: kube-system
      rules:
        - backendRefs:
            - identifier: code-server
              port: *code-server-port
