app-template:
  controllers:
    echo-server:
      containers:
        app:
          image:
            repository: ghcr.io/mendhak/http-https-echo
            tag: 38@sha256:c73e039e883944a38e37eaba829eb9a67641cd03eff868827683951feceef96e
          env:
            HTTP_PORT: &port 8080
            LOG_WITHOUT_NEWLINE: "true"
            LOG_IGNORE_PATH: "/healthz"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
          resources:
            requests:
              cpu: 5m
              memory: 64M
            limits:
              memory: 64M

  service:
    app:
      controller: echo-server
      ports:
        http:
          port: *port

  route:
    app:
      parentRefs:
        - name: public
          namespace: kube-system
          sectionName: https
      hostnames:
        - www.techbuzzworld.com
    internal:
      parentRefs:
        - name: internal
          namespace: kube-system
          sectionName: https
      hostnames:
        - rsr.net

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/issuer: step-issuer
        cert-manager.io/issuer-kind: StepClusterIssuer
        cert-manager.io/issuer-group: certmanager.step.sm
        cert-manager.io/revision-history-limit: "3"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
      hosts:
        - host: &host "rsr.net"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: echo-server-cert-tls


