app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: rogerrum/cups-airprint
            tag: "1.0.0"
            pullPolicy: IfNotPresent
          env:
            TZ: "America/Chicago"
            CUPS_ADMIN_USER: "admin"
            CUPS_ADMIN_PASSWORD: "admin"
            CUPS_REMOTE_ADMIN: "yes"
            CUPS_WEBINTERFACE: "yes"
            CUPS_SHARE_PRINTERS: "yes"
            CUPS_ACCESS_LOGLEVEL: access
            CUPS_LOGLEVEL: info
            CUPS_LPADMIN_PRINTER1: "lpadmin -p Air-Brother-HL-2270DW -D 'Airprinter Brother-HL-2270DW' -m 'HL2270DW.ppd' -o PageSize=A4 -v lpd://192.168.1.58/BINARY_P1"
            CUPS_LPADMIN_PRINTER1_ENABLE: cupsenable Air-Brother-HL-2270DW
            CUPS_LPADMIN_PRINTER1_ACCEPT: cupsaccept Air-Brother-HL-2270DW
            CUPS_HOSTNAME: "airprint.rsr.net"
            CUPS_ENV_DEBUG: "yes"
          securityContext:
            privileged: true

      strategy: Recreate

      pod:
        hostNetwork: true
        dnsPolicy: ClusterFirstWithHostNet
        enableServiceLinks: true


  service:
    main:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: 192.168.100.52
      ports:
        http:
          port: &port 631

  route:
    main:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: https://raw.githubusercontent.com/rogerrum/icons/refs/heads/main/images/airprint.png
        gethomepage.dev/name: Airprint
      enabled: true
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - airprint.rsr.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: airprint
              port: *port




