export EMAIL=""
export CF_API_KEY=""
export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export GRAFANA_PASSWORD=""
export AUTH0_CLIENT_ID=""
export AUTH0_CLIENT_SECRET=""
export AUTH0_GRAFANA_CLIENT_ID=""
export AUTH0_GRAFANA_CLIENT_SECRET=""

export HASS_TOKEN=""
export HASS_EXTERNAL_URL=""
export FRIGATE_EXTERNAL_HOST=""

export VAULT_ROOT_TOKEN=""
export VAULT_RECOVERY_TOKEN=""
export OAUTH2_PROXY_COOKIE_SECRET=""
export BOTKUBE_SLACK_TOKEN=""
export BOTKUBE_DISCORD_TOKEN=""

export DISCORD_ALERTMANAGER_WEBHOOK_URL=""
export DISCORD_KURED_WEBHOOK_URL=""

export ARGO_SLACK_TOKEN=""

export GITHUB_TOKEN=
export GITHUB_USER=
export DOCKER_USERNAME=
export DOCKER_TOKEN=
export GITHUB_WEBHOOK_TOKEN=

export PD_KEY=
export HA_DB_PASSWORD=""

export POSTGRE_DB_USERNAME=""
export POSTGRE_DB_PASSWORD=""

export STATPING_DB_HOST=""
export STATPING_DB_PASSWORD=""
export STATPING_PASSWORD=""

export DISCORD_ARGO_WEBHOOK_URL=""

export ALERTMANAGER_DISCORD_WEBHOOK=""

export EMQX_ADMIN_PASSWORD=""
export EMQX_MQTT_USER_PASSWORD=""

export MEALIE_POSTGRES_PASSWORD=""

export EMQX_NODERED_USER_PASSWORD=""

export TRACCAR_POSTGRES_PASSWORD=""

export UNIFI_POLLER_URL=""
export UNIFI_POLLER_USER=""
export UNIFI_POLLER_PASSWORD=""

export RTSP_LOREX_HOST=""

export CF_EMAIL=""
export CF_ZONEID=""
export CF_RECORD_NAME_1=""
export CF_RECORD_NAME_2=""
export CF_RECORD_NAME_3=""
export ARGO_WEBHOOK_EXTERNAL_HOST=""

export KANBOARD_POSTGRES_PASSWORD=""

export MARIADB_DB_PASSWORD=""
export MARIADB_DB_REPLICATION_PASSWORD=""

export LOCATION_ID_TOKEN=""

export MINIO_THANOS_ACCESS_KEY=""
export MINIO_THANOS_SECRET_KEY=""
export MINIO_LONGHORN_ACCESS_KEY=""
export MINIO_LONGHORN_SECRET_KEY=""
export MINIO_LOKI_ACCESS_KEY=""
export MINIO_LOKI_SECRET_KEY=""

export MINIO_POSTGRES_ACCESS_KEY=""
export MINIO_POSTGRES_SECRET_KEY=""


export MINIO_ROOT_USER=""
export MINIO_ROOT_PASSWORD=""


export WEBTREE_MARIADB_PASS=""
export WEBTREE_ADMIN_PASS=""
export WEBTREE_ADMIN_USER=""
export WEBTREE_ADMIN_EMAIL=""

export HA_POSTGRES_PASSWORD=""
export HA_POSTGRES_USERNAME=""
