kube-prometheus-stack:

  alertmanager:
    config:
      receivers:
        - name: 'null'
        - name: 'discord-notifications'
          webhook_configs:
            - url: 'http://alertmanager-discord:9094'
        - name: pagerduty
          pagerduty_configs:
            - routing_key: {{ .pagerduty_key }}
              description: |-
                {{ `{{ template "pagerduty.custom.description" . }}` }}
  prometheus:
    prometheusSpec:
      additionalScrapeConfigs:
        - job_name: 'pushgateway'
          scrape_interval: 60s
          static_configs:
            - targets: [ 'pushgateway.monitoring.svc:9091' ]
        - job_name: minio
          metrics_path: /minio/v2/metrics/cluster
          scheme: http
          static_configs:
            - targets: [ 'minio.default.svc:9000' ]
        - job_name: 'home-assistant'
          scrape_interval: 60s
          metrics_path: '/api/prometheus'
          authorization:
            credentials: "{{ .prom_ha_token }}"
          scheme: http
          static_configs:
            - targets:
                - home-assistant.default.svc:8123
