app-template:
  controllers:
    kopia:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        app:
          image:
            repository: ghcr.io/home-operations/kopia
            tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
          env:
            TZ: America/Chicago
            KOPIA_WEB_ENABLED: "true"
            KOPIA_WEB_PORT: &port 80
          envFrom:
            - secretRef:
                name: kopia-secret
          args:
            - --without-password
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 1Gi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]

  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1001
      runAsGroup: 1001
      fsGroup: 1001
      fsGroupChangePolicy: OnRootMismatch

  service:
    app:
      controller: kopia
      ports:
        http:
          port: *port

  route:
    app:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: kopia
        gethomepage.dev/name: Kopia
      parentRefs:
        - name: internal
          namespace: kube-system
      hostnames:
        - kopia.rsr.net
      rules:
        - backendRefs:
            - identifier: app
              port: *port

  configMaps:
    config:
      data:
        repository.config: |
          {
            "storage": {
              "type": "filesystem",
              "config": {
                "path": "/repository"
              }
            },
            "hostname": "volsync",
            "username": "volsync",
            "description": "volsync",
            "enableActions": false
          }

  persistence:
    config-file:
      type: configMap
      identifier: config
      globalMounts:
        - path: /config/repository.config
          subPath: repository.config
    repository:
      type: nfs
      server: 192.168.1.115
      path: /Kopia
      globalMounts:
        - path: /repository
    tmpfs:
      type: emptyDir
      advancedMounts:
        kopia:
          app:
            - path: /config/cache
              subPath: cache
            - path: /config/logs
              subPath: logs
            - path: /tmp
              subPath: tmp
