prometheus-pushgateway:
  fullnameOverride: pushgateway


  route:
    main:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Monitoring
        gethomepage.dev/icon: prometheus
        gethomepage.dev/name: Pushgateway
      parentRefs:
        - name: internal
          namespace: kube-system

      hostnames:
        - pushgateway.rsr.net

  serviceMonitor:
    enabled: true
    additionalLabels:
      app: prometheus-operator
      release: prometheus
