---
name: Diff Helm Releases on Pull Requests

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - "**.yaml"

env:
  conf_live_branch: main
  conf_ignore_known_labels_containing_versions: true

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-20.04
    outputs:
      files: "${{ steps.extract.outputs.files }}"
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: json
          filters: |
            changed:
              - '**/Chart.yaml'
              - '**/values.yaml'
      - id: extract
        run: |
          filtered=$( echo "${{ steps.filter.outputs.changed_files }}" \
            |  jq -r '.=[.[] | split("/") | del(.[-1]) |  join("/")  ] | unique')
          echo ${filtered}
          echo ::set-output name=files::${filtered}

  helm-release-diff:
    name: Template Helm Releases
    runs-on: ubuntu-20.04
    if: ${{ needs.changes.outputs.files != '' && needs.changes.outputs.files != '[]'  }}
    needs:
      - changes
    strategy:
      matrix:
        file: ${{ fromJson(needs.changes.outputs.files) }}
      fail-fast: false
    steps:
      - uses: yokawasa/action-setup-kube-tools@v0.8.0
        with:
          setup-tools: |
            helmv3
            yq
      - uses: actions/checkout@v2
        with:
          ref: ${{ env.conf_live_branch }}
          path: live
      - uses: actions/checkout@v2
        with:
          path: pr
      - id: diff
        run: |
          chartLocation=${{ matrix.file }}
          helm dep update "live/$chartLocation"
          helm dep update "pr/$chartLocation"
          resources_live=$(helm template live/"$chartLocation")
          echo "$resources_live"
          echo "#####################################################"
          resources_pr=$(helm template pr/"$chartLocation")
          echo "$resources_pr"
          echo "#####################################################"
          if [ "$conf_ignore_known_labels_containing_versions" = "true" ]; then
            labels='.metadata.labels."helm.sh/chart"'
            labels+=',.metadata.labels.chart'
            labels+=',.metadata.labels."app.kubernetes.io/version"'
            labels+=',.spec.template.metadata.labels."helm.sh/chart"'
            labels+=',.spec.template.metadata.labels.chart'
            labels+=',.spec.template.metadata.labels."app.kubernetes.io/version"'
            resources_live=$(echo "$resources_live" | yq e "del($labels)" -)
            resources_pr=$(echo "$resources_pr" | yq e "del($labels)" -)
          fi
          diff=$((diff -u <(echo "$resources_live") <(echo "$resources_pr") || true) | tail +3)
          echo "$diff"
          message="Path: \`${{ matrix.file }}\`"
          if [ "$hr_live_chart" != "$hr_pr_chart" ]; then
            message="$message"$'\n'"Chart: \`$hr_live_chart\` -> \`$hr_pr_chart\`"
          fi
          if [ "$hr_live_version" != "$hr_pr_version" ]; then
            message="$message"$'\n'"Version: \`$hr_live_version\` -> \`$hr_pr_version\`"
          fi
          if [ "$hr_live_url" != "$hr_pr_url" ]; then
            message="$message"$'\n'"Repo: \`$hr_live_url\` -> \`$hr_pr_url\`"
          fi
          message="$message"$'\n'$'\n'
          if [ -z "$diff" ]; then
            message="$message"'```'$'\n'"No changes in detected in resources"$'\n''```'
          else
            message="$message"'```diff'$'\n'"$diff"$'\n''```'
          fi
          echo "::set-output name=message::$(echo "$message" | jq --raw-input --slurp)"

      - uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: "${{ fromJSON(steps.diff.outputs.message) }}"
