---
name: Publish docs via GitHub Pages

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/publish-docs.yaml"
      - "mkdocs.yaml"
      - "docs/**"

jobs:
  publish-docs:
    runs-on: ubuntu-24.04
    if: github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.x
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.x
      - run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - run: |
          pip install \
            mkdocs>=1.1 \
            mkdocs-macros-plugin >=0.5 \
            mkdocs-material >=1.0 \
            mkdocs-minify-plugin>=0.3 \
            mkdocs-redirects>=1.0 \
            pymdown-extensions==7.1
      - run: mkdocs gh-deploy --config-file ./mkdocs.yaml --force
