app-template:
  controllers:
    manyfold:
      forceRename: manyfold
      annotations:
        secret.reloader.stakater.com/reload: manyfold-secret
      pod:
        securityContext:
          fsGroup: 2000
          fsGroupChangePolicy: "OnRootMismatch"
          runAsGroup: 2000
          runAsUser: 2000

      initContainers:
        chown-tmpdirs:
          image:
            repository: docker.io/library/alpine
            tag: "3.23"
          command:
            - /bin/sh
            - -c
          args:
            - |
              chmod o-rwx /tmp
          securityContext:
            runAsUser: 0

      containers:
        main:
          image:
            repository: ghcr.io/bjw-s-labs/manyfold
            tag: 0.130.2@sha256:e052650b700dfc28b115676bfbaa520ba5e83fcf0b130d1fdd73929f34c88b3d
          env:
            DATABASE_URL: sqlite3:/data/database/manyfold.sqlite3
            MULTIUSER: false
            PORT: &httpPort 3214
            REDIS_URL: redis://manyfold-redis.default.svc.cluster.local:6379
            REGISTRATION: false
            SECRET_KEY_BASE:
              valueFrom:
                secretKeyRef:
                  name: manyfold-secret
                  key: MANYFOLD_SECRET_KEY
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *httpPort
                initialDelaySeconds: 0
                periodSeconds: 90
                timeoutSeconds: 30
                failureThreshold: 3
            readiness: *probes
          resources:
            requests:
              cpu: 20m
              memory: 128Mi
            limits:
              memory: 1536Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

    redis:
      pod:
        securityContext:
          runAsUser: 65534
          runAsGroup: 65534
      strategy: RollingUpdate
      containers:
        redis:
          image:
            repository: ghcr.io/valkey-io/valkey
            tag: 9.0.1
          args:
            - --save
            - ""
            - --appendonly
            - "no"
          resources:
            requests:
              cpu: 5m
              memory: 32Mi
            limits:
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

  service:
    app:
      forceRename: manyfold
      primary: true
      controller: manyfold
      ports:
        http:
          port: *httpPort
    redis:
      controller: redis
      ports:
        http:
          port: &port 6379

  persistence:
    data:
      suffix: data
      storageClass: "longhorn"
      accessMode: ReadWriteOnce
      size: "5Gi"
      advancedMounts:
        manyfold:
          main:
            - path: /data/database
              subPath: database
            - path: /data/libraries/main
              subPath: libraries/main

    tmpfs:
      type: emptyDir
      advancedMounts:
        manyfold:
          main: &tmpdirs
            - path: /tmp
              subPath: host-tmp
            - path: /app/tmp
              subPath: app-tmp
            - path: /app/log
              subPath: app-log
          chown-tmpdirs: *tmpdirs

  route:
    app:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: manyfold
        gethomepage.dev/name: Manyfold
      hostnames:
        - manyfold.rsr.net
      parentRefs:
        - name: internal
          namespace: kube-system

      rules:
        - backendRefs:
            - identifier: app
              port: *httpPort
